

<form action="/results" method="get" class="form-inline">

  <label for="start_option">Start:</label>
  <select name="start_option" class="form-control input-lg">
    <% $lines.each do |line, stations| line %>
      <optgroup label="<%= line %> line">
        <% stations.each do |station| %>
          <option value="<%= line %>,<%= station %>">
            <%= station %>
          </option>
        <% end %>
      </optgroup>
    <% end %>
  </select>

<label for="end_option">End:</label>
  <select name="end_option" class="form-control input-lg">
    <% $lines.each do |line, stations| %>
      <optgroup label="<%= line %> line">
        <% stations.each do |station| %>
          <option value="<%= line %>,<%= station %>">
            <%= station %>
          </option>
        <% end %>
      </optgroup>
    <% end %>
  </select>
    <button class="btn btn-default btn-lg">Go!</button>
</form>