<div class="col-lg-6 col-lg-offset-3">

<form action="/results" method="get" class="form-inline">

  <label for="start_option">Start:</label>
  <select name="start_option" class="form-control input-lg">
    <% $lines.each do |line, stations| line %>
      <optgroup label="<%= line %> line">
        <% stations.each do |station| %>
          <option value="<%= line %>,<%= station %>">
            <%= station %>
          </option>
        <% end %>
      </optgroup>
    <% end %>
  </select>

<label for="end_option">End:</label>
  <select name="end_option" class="form-control input-lg">
    <% $lines.each do |line, stations| %>
      <optgroup label="<%= line %> line">
        <% stations.each do |station| %>
          <option value="<%= line %>,<%= station %>">
            <%= station %>
          </option>
        <% end %>
      </optgroup>
    <% end %>
  </select>
    <button class="btn btn-default btn-lg">Go!</button>
</form>

  <div class="page-header">
    <h3>RESULTS</h3>
  </div>
  <!-- <p>You are getting on at line <%= @start_line.upcase %> stop <%= @start_station %> and getting off at line <%= @end_line.upcase %> stop <%= @end_station %>.</p> -->

    <h4>The total number of stops is: <%= @trip_length %></h4>
    <h4>You will pass though <%= @trip_stations.upcase %>.</h4>


</div>
<!--
trip: <%= @trip %><br>
trip1: <%= @trip1 %><br>
trip2: <%= @trip2 %><br>
trip_length <%= @trip_length %><br>
trip_join <%= @trip_join %><br> -->