<span><h1>MTA TRIP STOP COUNTER</h1></span>
<h3>Select your start and end stops</h3>

<form action="/results" method="get">

  <label for="start_option">Start</label>
  <select name="start_option">
    <% $lines.each do |line, stations| line %>
      <optgroup label="<%= line %> line">
        <% stations.each do |station| %>
          <option value="<%= line %>,<%= station %>">
            <%= station %>
          </option>
        <% end %>
      </optgroup>
    <% end %>
  </select>

<label for="end_option">End</label>
  <select name="end_option">
    <% $lines.each do |line, stations| %>
      <optgroup label="<%= line %> line">
        <% stations.each do |station| %>
          <option value="<%= line %>,<%= station %>">
            <%= station %>
          </option>
        <% end %>
      </optgroup>
    <% end %>
  </select>
    <button>Go!</button>
</form>


<h2>RESULTS</h2>
<!-- <p>You are getting on at line <%= @start_line.upcase %> stop <%= @start_station %> and getting off at line <%= @end_line.upcase %> stop <%= @end_station %>.</p> -->

  <h3>The total number of stops is: <%= @trip_length %></h3>
  <h3>You will pass though <%= @trip_stations.upcase %>.</h3>

trip: <%= @trip %><br>
trip1: <%= @trip1 %><br>
trip2: <%= @trip2 %><br>
trip_length <%= @trip_length %><br>
trip_join <%= @trip_join %><br>