<%= form_for @book do |f| %>
	<p>
		<%= f.label	:title %>
		<%= f.text_field :title, :autofocus => true %>
	</p>

	<p>
		<%= f.label :pages %>
		<%= f.text_field :pages %>
	</p>

	<p>
		<%= f.label :isbn %>
		<%= f.text_field :isbn %>
	</p>

	<p>
		<%= f.label :image %>
		<%= f.text_field :image %>
	</p>

	<p>
		<%= f.label :description %>
		<%= f.text_area :description %>
	</p>

	<p>
		<%= f.label :author_id %>
		<%= f.select :author_id, Author.all.map { |artist| [artist.name, artist.id] }, :include_blank => true %>
	</p>

	<%= f.submit %>

<% end %>